@media screen and (max-width: 1025px) {
	.title {
		width: auto;
	}
	h2 {
		font-size: 40px;
	}
	.footer {
		width: auto;
	}
}
@media screen and (max-width: 900px) {
	.banner {
		background-image: none;
		height: 530px;
	}
	h1 {
		font-size: 44px;
		line-height: 50px;
	}
	h1 .number {
		font-size: 240px;
		line-height: 218px;
	}
	.title {
		padding: 30px 0 0 84px;
	}
	.footer {
		background-image: none;
		height: auto;
	}
	.sign-up {
		margin-top: 65px;
	}
	.social {
		margin-bottom: 40px;
	}
}
@media screen and (max-width: 810px) {
	.shoe-image {
		width: 100%;
		height: 230px;
	}
	.shoe-image p {
		position: revert;
	}
	.shoe-image:hover p {
		line-height: 240px;
		font-size: 30px;
		margin: 0 auto;
		position: revert;
		text-align: center;
	}
	.sign-up,
	.social {
		margin-left: 25px;
	}
}
@media screen and (max-width: 700px) {
	nav {
		display: none;
	}
	#side-nav,
	.closebtn,
	.hide-show-nav {
		display: block;
	}
	#side-nav {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 20;
		top: 0;
		right: 0;
		background-color: #fff;
		overflow-x: hidden;
		transition: 0.5s;
	}
	#side-nav a {
		text-decoration: none;
		font-size: 25px;
		color: #5a18a9;
		display: block;
		transition: 0.3s;
	}
	#side-nav a:hover {
	 	color: #ff2a6c;
	}
	#side-nav .closebtn {
	 	position: absolute;
	 	right: 0px;
		top:0px;
		margin-right: 5%;
		color: #5a18a9;
		-webkit-transition: color .25s ease-in-out;
 		-moz-transition: color .25s ease-in-out;
 		-o-transition: color .25s ease-in-out;
 		transition: color .25s ease-in-out;
	}
	#side-nav .closebtn:hover {
		cursor: pointer;
		color: #ff2a6c;
		-webkit-transition: color .25s ease-in-out;
 		-moz-transition: color .25s ease-in-out;
 		-o-transition: color .25s ease-in-out;
 		transition: color .25s ease-in-out;
	}
	.hide-show-nav,
	.closebtn {
		padding-right: 20px;
		font-size: 50px;
		cursor: pointer;
		color: #5a18a9;
		float: right;
		-webkit-transition: color .25s ease-in-out;
 		-moz-transition: color .25s ease-in-out;
 		-o-transition: color .25s ease-in-out;
 		transition: color .25s ease-in-out;
	}
	.hide-show-nav:hover {
		color: #ff2a6c;
		-webkit-transition: color .25s ease-in-out;
 		-moz-transition: color .25s ease-in-out;
 		-o-transition: color .25s ease-in-out;
 		transition: color .25s ease-in-out;
	}
	.nav-items {
		margin: 70px 30px 0 0;
	}
	.nav-items a {
		text-align: right;
		margin-top: 10px;
	}
	.line-break {
		background-color: #ff5661;
		width: 40px;
		height: 4px;
		margin: 20px 0 20px 177px;
	}
}
@media screen and (max-width: 500px) {
	.title {
		margin: 30px auto;
		padding: 0;
		text-align: center;
		width: auto;
	}
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 30px;
	}
	h3 span {
		font-size: 50px;
	}
	p {
		font-size: 14px;
		margin: 20px 0 0 50px;
	}
	.content-text {
		width: 300px;
	}

}
@media screen and (max-width: 400px) {
	.banner {
		height: 330px;
	}
	h1 {
		font-size: 30px;
		line-height: 37px;
	}
	h1 .number {
		font-size: 160px;
		line-height: 150px;
	}
}
@media screen and (max-width: 325px) {
	h2 {
		font-size: 25px;
	}
	.content-text {
		width: 270px;
	}
}













